<html> 
   <head><h1 style="text-align:center"> For pediatric providers for determining Malnourishment in a child</h1></head> 
   <body style="background-color:green;"></body>
       <h3>Register the customer, fill the following form.</h3>  
      <form action = "http://localhost:5000/success" method = "POST">  
         <p>Age (in days) <input type = "number" name = "age"/></p>  
         <p>Height <input type = "number" name = "height"  step=".00000001"/></p>  
         <p>Weight <input type = "number" name = "weight" step=".00000001"/></p>  
         <p>MUAC <input type ="number" name = "muca" step=".00000001"/></p>  
         <p><input type="radio" id="M" name="gender" value="M">
         <label for="M">Male</label><br>
         <input type="radio" id="F" name="gender" value="F">
         <label for="F">Female</label></p>
         <p><input type = "submit" value = "submit" /></p>  

      </form>  
      <p>
         <img src="{{ user_image }}" alt="User Image">
      </body>
      </p>
   </body>  
</html>  
